//main
$white: #f5f6f6;
$grey: #b8b8b8;
$black: #424242;
$orange: #F18D05;
$green: #32742C;

$dark: #141314;

// http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo

//Categories
//$orange: #F18D05;
$yellow: #D0D102;
$purple: #6a0284;

//Tags
$teal: #01A4A4;
$blue: #113F8C;
$blueLight: #00A1CB;
$greenLight: #61AE24;
$pink: #D70060;
$red: #E54028;
$greyDark: #616161;

