<!-- build:js({app,.tmp}) /js/script.js -->
<script src="/_bower_components/jquery/jquery.min.js"></script>
<script src="/_bower_components/keymaster/keymaster.min.js"></script>
<script src="/_bower_components/hammerjs/dist/jquery.hammer.min.js"></script>
<script src="/_bower_components/columnManager/columnManager.js"></script>
<script src="/_bower_components/jFinder/jquery.finder.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/navigation.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
